<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6199731898ebb3c47f05a97dc54d17ed {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_6199731898ebb3c47f05a97dc54d17ed" ></div>
        
</body>
<script>    
    
            var map_6199731898ebb3c47f05a97dc54d17ed = L.map(
                "map_6199731898ebb3c47f05a97dc54d17ed",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cbfad8405bbce98b86fd5d9a451e7448 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6199731898ebb3c47f05a97dc54d17ed);
        
    
            var marker_cluster_4c146cc7b115305586d18bcb17df6692 = L.markerClusterGroup(
                {}
            );
            map_6199731898ebb3c47f05a97dc54d17ed.addLayer(marker_cluster_4c146cc7b115305586d18bcb17df6692);
        
    
            var circle_marker_6760d9bcf08fe8fca262e0dc6210be34 = L.circleMarker(
                [39.7837304, -100.445882],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_4c146cc7b115305586d18bcb17df6692);
        
    
        var popup_b17850630745ee6218a8469d696cc2df = L.popup({"maxWidth": 300});

        
            var html_efbc5f300e72f973f2ed17756ac11c56 = $(`<div id="html_efbc5f300e72f973f2ed17756ac11c56" style="width: 100.0%; height: 100.0%;"><b>Country:</b> United States<br>                         <b>Medicines:</b> 1<br></div>`)[0];
            popup_b17850630745ee6218a8469d696cc2df.setContent(html_efbc5f300e72f973f2ed17756ac11c56);
        

        circle_marker_6760d9bcf08fe8fca262e0dc6210be34.bindPopup(popup_b17850630745ee6218a8469d696cc2df)
        ;

        
    
    
            var circle_marker_3d95890bfe02ee84f6842eada02f0697 = L.circleMarker(
                [51.0834196, 10.4234469],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_4c146cc7b115305586d18bcb17df6692);
        
    
        var popup_73d5783311ecbc885716e135f37ba026 = L.popup({"maxWidth": 300});

        
            var html_92536ee7e9549eca777971e29c0afd65 = $(`<div id="html_92536ee7e9549eca777971e29c0afd65" style="width: 100.0%; height: 100.0%;"><b>Country:</b> Germany<br>                         <b>Medicines:</b> 1<br></div>`)[0];
            popup_73d5783311ecbc885716e135f37ba026.setContent(html_92536ee7e9549eca777971e29c0afd65);
        

        circle_marker_3d95890bfe02ee84f6842eada02f0697.bindPopup(popup_73d5783311ecbc885716e135f37ba026)
        ;

        
    
    
            var circle_marker_8fa09c6d843ae6abd585df8708f4f4c3 = L.circleMarker(
                [49.4871968, 31.2718321],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_4c146cc7b115305586d18bcb17df6692);
        
    
        var popup_41137022a6582841a3661e63f51205f3 = L.popup({"maxWidth": 300});

        
            var html_f307b4c733b051f6990fac12a80c6d12 = $(`<div id="html_f307b4c733b051f6990fac12a80c6d12" style="width: 100.0%; height: 100.0%;"><b>Country:</b> Ukraine<br>                         <b>Medicines:</b> 2<br></div>`)[0];
            popup_41137022a6582841a3661e63f51205f3.setContent(html_f307b4c733b051f6990fac12a80c6d12);
        

        circle_marker_8fa09c6d843ae6abd585df8708f4f4c3.bindPopup(popup_41137022a6582841a3661e63f51205f3)
        ;

        
    
</script>