<!DOCTYPE html>
<html><head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" rel="stylesheet"/>
<meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<style>
                #map_8d8175561aa4484712f2eba085ba1c7a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css" rel="stylesheet"/>
<link href="/static/MSB_Logo_transparent.png" rel="icon"/><title>MSB Map</title></head>
<body>
<div class="folium-map" id="map_8d8175561aa4484712f2eba085ba1c7a"></div>
</body>
<script>    
    
            var map_8d8175561aa4484712f2eba085ba1c7a = L.map(
                "map_8d8175561aa4484712f2eba085ba1c7a",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1e5a5a7821a238b0bfc689ee545b5e16 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8d8175561aa4484712f2eba085ba1c7a);
        
    
            var marker_cluster_e66e92a0b0737813d3afbc7490e41619 = L.markerClusterGroup(
                {}
            );
            map_8d8175561aa4484712f2eba085ba1c7a.addLayer(marker_cluster_e66e92a0b0737813d3afbc7490e41619);
        
    
            var circle_marker_5af7e5993aef6a5440ec60a29b1a419c = L.circleMarker(
                [51.0834196, 10.4234469],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_e66e92a0b0737813d3afbc7490e41619);
        
    
        var popup_86d7d9e1b05f37cb7b2c5834456d21ee = L.popup({"maxWidth": 300});

        
            var html_c696105098ffa018024dbd820583631a = $(`<div id="html_c696105098ffa018024dbd820583631a" style="width: 100.0%; height: 100.0%;"><b>Country:</b> Germany<br>                         <b>Medicines:</b> 1<br></div>`)[0];
            popup_86d7d9e1b05f37cb7b2c5834456d21ee.setContent(html_c696105098ffa018024dbd820583631a);
        

        circle_marker_5af7e5993aef6a5440ec60a29b1a419c.bindPopup(popup_86d7d9e1b05f37cb7b2c5834456d21ee)
        ;

        
    
    
            var circle_marker_7e4d1390f362abb45378fed40495567b = L.circleMarker(
                [49.4871968, 31.2718321],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_e66e92a0b0737813d3afbc7490e41619);
        
    
        var popup_b01eb01187c1febaca9a9a36f3fdc90b = L.popup({"maxWidth": 300});

        
            var html_0721a5fc5822b262aa2a75d24e0fa7fd = $(`<div id="html_0721a5fc5822b262aa2a75d24e0fa7fd" style="width: 100.0%; height: 100.0%;"><b>Country:</b> Ukraine<br>                         <b>Medicines:</b> 2<br></div>`)[0];
            popup_b01eb01187c1febaca9a9a36f3fdc90b.setContent(html_0721a5fc5822b262aa2a75d24e0fa7fd);
        

        circle_marker_7e4d1390f362abb45378fed40495567b.bindPopup(popup_b01eb01187c1febaca9a9a36f3fdc90b)
        ;

        
    
    
            var circle_marker_b12fbeff1f31f2994b712ce68451de7e = L.circleMarker(
                [50.6402809, 4.6667145],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_e66e92a0b0737813d3afbc7490e41619);
        
    
        var popup_f13f350da2c4a1954467833909d796f6 = L.popup({"maxWidth": 300});

        
            var html_4aa43553d1ce18e2fa66b2f5683a5786 = $(`<div id="html_4aa43553d1ce18e2fa66b2f5683a5786" style="width: 100.0%; height: 100.0%;"><b>Country:</b> Belgium<br>                         <b>Medicines:</b> 1<br></div>`)[0];
            popup_f13f350da2c4a1954467833909d796f6.setContent(html_4aa43553d1ce18e2fa66b2f5683a5786);
        

        circle_marker_b12fbeff1f31f2994b712ce68451de7e.bindPopup(popup_f13f350da2c4a1954467833909d796f6)
        ;

        
    
</script></html>